<div style="width: 720px;">
  <div>
    <div style="width: 380px; float: left;">
      <p><strong>Flynn&rsquo;s Fresh Veg</strong> is a fresh food delivery service which aims to deliver the best quality fruit and vegetables at affordable prices to the people of Dublin.</p>
      <p><img class="__mce_add_custom__" title="james-flynn-and-friend-at-market.jpg" src="http://www.flynnsfreshveg.com/product_images/uploaded_images/james-flynn-and-friend-at-market.jpg" alt="james-flynn-and-friend-at-market.jpg" width="380" height="251" /></p>
      <p>The fruit and veg is all sourced at Dublin&rsquo;s historic Corporation Market, every morning, to ensure it reaches you in the freshest condition. We specialise in seasonal, Irish food, much of it from Co. Dublin itself.</p>
      <p><img class="__mce_add_custom__" style="float: left; margin-right: 10px;" title="ms5-layout-green.jpg" src="http://www.flynnsfreshveg.com/product_images/uploaded_images/ms5-layout-green.jpg" alt="ms5-layout-green.jpg" width="100" height="128" align="right;" />However customers can be assured that we are happy to source all the finest produce from around the globe as well.</p>
      <p>To help minimise our environmental impact and reduce our packaging by providing each customer with a branded bag for life for deliveries.</p>
      <p>&nbsp;</p>
      <h1><span style="font-size: medium;">Delivering Fresh Fruit &amp; Veg to Dublin's Doors</span></h1>
      <h3>&nbsp;</h3>
    </div>
    <div style="width: 280px; float: left; padding-left: 30px;"><iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FFlynns-Fresh-Veg%2F245769288819934&amp;width=292&amp;height=670&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=true&amp;header=true&amp;appId=237852172986755" width="320" height="670" frameborder="0"></iframe></div>
  </div>
  <div style="clear: both;">
    <h3>Background&nbsp;&nbsp;</h3>
    <p><strong>Flynn&rsquo;s Fresh Veg</strong> was established in 2011 by James Flynn, a former construction engineer who was made redundant in the economic downturn.</p>
    <p><img class="__mce_add_custom__" style="float: left; margin-right: 10px;" title="jamesflynn.jpg" src="http://www.flynnsfreshveg.com/product_images/uploaded_images/james-flynn-market-15.jpg" alt="james-flynn-market-15.jpg" width="100" height="150" /> Flynn wanted to create ongoing sustainable employment for himself that would enable him to regain financial independence and also allow him a good work-life balance. "No matter what people cut back on", Flynn reasoned, "they still have to eat. If they can save a bit of money and get better produce while at the same time avoiding the chore of going round the supermarket, then people are bound to be interested". So Flynn&rsquo;s Fresh Veg was born.</p>
    <p>Starting with only an old basket , the family car and &euro;50 worth of fruit and veg from the market, he started knocking on doors on Oxmantown Rd.,Stoneybatter. He got his first customer on this road and she is still buying from him to this day. Flynn's now delivers to customers in Stoneybatter, Phibsborough, Ashtown, Bridgewater Quay, Cabra, the Navan Road, Finglas, Castleknock, Carpenterstown, Coolmine, Grangegorman, Rialto, Inchicore, Irishtown, The Liberties, East Wall and is growing into other areas all the time.</p>
    <p>Quite quickly, the family car became too small for the fruit and veg deliveries (plus there were complaints from his wife about there being onion skins everywhere!) and he bought a small Kangoo van. Within a few months the business outgrew the Kangoo and he bought a Transit van, which he had branded and fully shelved out. The business has continued to grow and has high hopes for the future.</p>
    <p>The website was launched in August 2012 to facilitate online ordering and Flynn hopes this will help give the business the boost it needs to expand and take on other workers.</p>
    <p>Conscious of his own experience of unemployment, Flynn is keen to create jobs for other people in the near future.</p>
    <p>However, he is also certain that there is a better, more sustainable way to do business than the current corporate, money-driven system where workers have no say or ownership in how the company is run &ndash; it may sound idealistic but maintaining a decent work/life balance as a business aim is as important as increasing income.</p>
  </div>
</div>



